    <header class="flex items-center justify-between font-extrabold p-2 md:py-4 md:px-24 bg-gray-800 text-gray-200">
        <a href="{{ site.url }}{{ site.baseurl }}">
          <div class="flex items-center">
            <img class="rounded-full w-12 h-12" src="{{ site.baseurl }}/assets/images/icon.png" />
            <p class="ml-4">{{ site.title }}</p>
          </div>
        </a>
      <div class="flex item-center">
        <p><a href="{{ site.url }}/blog">blog</a></p>
        <p class="ml-4"><a href="{{ site.url }}/products">products</a></p>
        <p class="ml-4"><a href="{{ site.url }}/contact">accounts & contact</a></p>
      </div>
    </header>
