<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head/base.html %}
    {% include prism/head.html %}
    {% include twitter/head.html %}
  </head>

  <body class="line-numbers min-h-screen flex flex-col justify-center relative font-noto">
    {% include components/header.html %}

    <article class="my-10 px-2 prose prose-2xl mx-auto lg:prose-sm">
      <div class="text-center">
        <h1 class="font-extrabold">{{ page.title }}</h1>
        <p class="text-sm mt-4">posted at {{ page.date }} by {{ page.author }}</p>
        <div class="flex justify-end items-center">
          <div>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
          </div>
          <div class="ml-4">
            <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label-counter" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
          </div>
          <div class="ml-4">
            <a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fkinoppyd.dev%2Fblog%2Ffeed.xm'  target='blank'><img id='feedlyFollow' src='https://s1.feedly.com/legacy/feedly-follow-rectangle-flat-small_2x.png' alt='follow us in feedly' width='66' height='20'></a>
          </div>
        </div>
      </div>
      {{ content }}
    </article>

    {% include components/footer.html %}

    {% include prism/body.html %}
  </body>
</html>
